html{

  font-family: Helvetica;
  font-size: 18px;
  background-color: white;

}
.header{
  background: cadetblue;
  color: white;
}
.container{
  max-width: 960px;
  margin: 0 auto;


}
.header .container{
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  height: 5rem;
}
.header .container img{
  padding-left: 0.5rem;
  padding-right: 1rem;
  height: 3rem;
  font-size: 1rem;
}
.header .container span{
  padding-top: 0.66rem;
  padding-bottom: 0.66rem;
}
.banner{
  background-image: url("resources/landscape.jpg");
  background-size: cover;
  height: 25rem;
}

.headline{
  background-color: seashell;
  width: 20rem;
  position: relative;
  top: 9rem;
  padding: 2rem 3rem;
}
.headline h4{
  font-size: 1rem;
  font-weight: bold;
  margin: 0 0 0.25rem 0;

}
.headline h1{
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
}
nav{
  background-color: cadetblue;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: white;
}
nav .container{
  display: flex;
  justify-content: space-between;

}
.ui-tab{
  background-color: cadetblue;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: white;
}
nav span{
  display: none;
}
nav ul{
  list-style: none;
}
/*button{
  background-color: inherit;
  border: none;
  text-decoration: none;
  font-family: Helvetica;
  font-size: 18px;
  color: white;
} */
a:link {
    text-decoration: inherit;
    color: inherit;
    cursor: pointer;
}

a:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: pointer;
}
.form-space{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
.form-container{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.tabcontent {
  color: black;
  display: none;
  padding: 100px 20px;
  height: 100%;
}

.tablinks {
  background-color: cadetblue;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 18px;
  width: 25%;
  font: Helvetica;
}

th {
  background-color: cadetblue;
  color: white;
}
th, td{
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid cadetblue;
}
tr:nth-child(even){
  background-color: #93C5C7;

}


footer{
  margin-top: 0rem;
  padding: 5em 0;
  background-color: cadetblue;
  color: white;
}
